html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    margin: auto;
    max-width: 1000px;
    font-family: "Roboto", sans-serif;
    background-color: white;
    padding: 5px;
}

.dark {
    color: white;
    background-color: #888;
}